.footer-container {
    text-align: center;
    bottom: 0;
    position: absolute;
    width: 100%;
    /* height: 200px; */
    /* background-color: rgb(5, 5, 47);   */
}
.footer-container>p {
    padding: 10px;
    /* background-color: #ccc; */
    background-color:  rgb(5, 5, 47);
    color: whitesmoke;
    letter-spacing: 1px;

    /* display: inline-block; */
    margin-bottom: 0%;
}
